/* ===================================================================================================
REGLES GENERALES
====================================================================================================*/
body {
  background: #0A100D;
}

#mainContainer {
  overflow-x: hidden;
}

body {
  position: relative;
  /* necessaire pour le fonctionnement de scrollspy */
}

.bgGrey {
  background-color: #212322;
}

.txtWhite {
  color: #fff
}

.txtRed {
  color: #902923;
}


.highlightRed {
  background-color: #902923;
  color: #fff;
  padding: 0 0.5rem 0 0.5rem;
}


.letterSpacingPlus {
  letter-spacing: 0.1em
}

.btn {
  background-color: #a6544f;
  color: #fff;
}

.btn:hover {
  background: #902923;
  color: #fff;
}


/* ===================================================================================================
MENU DE NAVIGATION
====================================================================================================*/

.mainNav {
  background-color: #212322;
}

.mainNav {
  border-bottom: #fff 3px solid;
}

.mainNav-link {
  color: #fff;
}

.mainNav-link.active {
  color: #fff;
  background-color: #902923;
  border-radius: 5px;
}

.mainNav-link:hover {
  color: #902923;
  border-radius: 5px;
}

.mainNav-link.active:hover {
  color: #0A100D;
}


/* ===================================================================================================
PAGE D'ACCUEIL 
====================================================================================================*/

.homeInfos i {
  margin-left: 1rem;
}

a[href*="mailto"] {
  color: #fff;
}

a[href*="mailto"]:hover {
  color: #fff;
  text-decoration: none;
}

.homeName h1:hover,
.homeName h2:hover {
  font-weight: lighter;
}


/* version téléphone et tablettes */
.homeName {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.homeBorder {
  width: 80%;
  margin: 0px auto 0px auto;
  border-bottom: #fff 3px solid;
}

.homePresentation {
  padding-top: 33%;
}

.homePresentation p {
  padding: 0rem 1.5rem 0.5rem 1.5rem;
}

.homeInfos {
  padding-bottom: 30%;
}

.homePresentation {
  position: relative;
}

.homePresentation img {
  position: absolute;
  border-radius: 999px;
  border: #212322 solid 25px;
  height: auto;
  max-width: 60%;
  /* les trois suivants permettent de centrer la photo */
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0rem;
}

/* version ordinateur */

@media screen and (min-width:768px) {
  .homeRow {
    min-height: calc(100vh);
  }

  .homeName {
    padding: unset;
  }

  .homePresentation {
    padding: unset;
  }

  .homePresentation p {
    padding: 4rem 30% 4rem 15%;
    margin-bottom: 0rem;
  }

  .homePresentation img {
    right: auto;
    left: 100%;
    bottom: auto;
    top: 100%;
    z-index: 1;
  }

  .homeInfos {
    padding: unset;
  }

  .homeInfos .container-fluid{
    padding: 4rem 30%;
  }

  .homeDeco {
    background-image:url(../img/codeDecoration.png);
    position: left;
    background-repeat: no-repeat;
    opacity: 0.15;
  }
}



/* ===================================================================================================
COMPETENCES
====================================================================================================*/
.competenceCard {
  background: #fff;
}

.competenceCard h3 {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #0A100D;
}

.competenceCard i {
  margin-right: 0.5em;
}

.competenceCard .iconLanguage {
  height: 3rem;
  width: auto;
}

.competenceCard .iconHobby {
  height: 4rem;
  width: auto;
}

.competenceCard .btn {
  background-color: #212322;
  color: #fff;
}

.competenceCard .btn:hover {
  background: #0A100D;
  color: #fff;
}


/* menu */
.competencesNav .nav-link {
  border: #fff solid 2px;
  border-bottom: none;
  border-radius: 0;
  color: #fff;
  background-color: #212322;
}

.competencesNav .nav-link.active {
  background: #fff;
  color: #0A100D;
}

.competencesNav.tab-content {
  border: #fff solid 2px;
}

/* effet de perspective */
@media screen and (min-width:768px) {
  .tabBorder {
    position: relative;
  }

  .tabBorder::before {
    content: "";
    display: block;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    height: calc(100% + 54.5px);
    width: 20px;
    right: -20px;
    bottom: -35px;
    transform: skewY(40deg);
  }

  .tabBorder::after {
    content: "";
    display: block;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    width: calc(100% + 6px);
    height: 20px;
    right: -12px;
    bottom: -45px;
    transform: skewX(40deg);
  }

  button.navBorder {
    position: relative;
  }

  button.navBorder::before {
    content: "";
    display: block;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    width: 20px;
    height: 68%;
    right: -22px;
    bottom: 7px;
    transform: skewY(40deg);
  }

}

/* timeline */
.timelineOuter {
  border-left: 3px solid #212322;
}

.timelineCard {
  position: relative;
  margin: 0 0 0 20px;
  padding: 10px;
}

.timelineInfo {
  display: flex;
  flex-direction: column;
}

.timelineDate {
  position: relative;
}

.timelineTitle {
  position: relative;
}

.timelinePlace {
  position: relative;
}

.timelineTitle::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -36px;
  top: 8px;
  border: 3px solid #902923;
}

/* modales */
.modal-title {
  background: #0A100D;
  text-transform: uppercase;
  color: #fff;
  padding: 0.5rem 1rem;
}




/* ===================================================================================================
PORTFOLIO
====================================================================================================*/

.portfolioCard {
  border-radius: 0px;
  background: #0A100D;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border: #fff 3px solid;
}

.portfolioCard img {
  border-radius: 0px;
}

.badge {
  background-color: #902923;
}


/* ===================================================================================================
CONTACT
====================================================================================================*/
.form-control,
.form-select {
  border-radius: 0px;
}

#message {
  height: 150px;
}

.network {
  color: #fff;
}

.network:hover {
  color: #212322;
}

#contact a[href*="mailto"] {
  color: #fff;
  font-size: 1.2rem;
}



/* ===================================================================================================
FOOTER
====================================================================================================*/

/* pris de https://csshint.com/bootstrap-horizontal-line-examples/ */
.hr-theme-slash-2 {
  display: flex;
}

.hr-line {
  width: 100%;
  position: relative;
  border-bottom: 3px solid #fff;
}

.hr-icon {
  position: relative;
  top: 16px;
}