/* REGLES GENERALES */

body {
  background: #0A100D;

}

#mainContainer {
  overflow-x: hidden;
}

body {
  position: relative;
  /* necessaire pour le fonctionnement de scrollspy */
}

.sectionTitle {
  background-color: #902923
}

.lineHeightPlus {
  letter-spacing: 0.1em
}

.btn {
  background-color: #a6544f;
  color: #fff;
}

.txtWhite {
  color: #fff
}









/*MENU DE NAVIGATION */

.mainNav {
  background-color: #0A100D;
}

.mainNav {
  border-bottom:#fff 2px solid;
}

.mainNav-link {
  color: #fff;
}

.mainNav-link.active {
  color: #fff;
  background-color: #902923;
  border-radius: 5px;
}

.mainNav-link:hover {
  color: #902923;
  border-radius: 5px;
}

.mainNav-link.active:hover {
  color: #0A100D;
}











/* PAGE D'ACCUEIL */
#home {
  background: #212322;
}

#blocTitle {
  background-color: #fff;
}









/*PAGE COMPETENCES */

.competenceCard {
  background: #fff;
  border-radius: 5px;
}

.competenceCard h3 {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #0A100D;
}

.competenceCard i {
  margin-right: 0.5em;
}

/* pris et personnlisé de https://codepen.io/alvarotrigo/pen/ZEXzOWQ */
.timelineOuter {
  border-left: 3px solid #D6D5C9;
}

.timelineCard {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
}

.timelineInfo {
  display: flex;
  flex-direction: column;
}

.timelineDate {
  color: #902923;
  position: relative;
}

.timelinePlace {
  color: #902923;
  position: relative;
}

.timelineTitle {
  color: #902923;
  position: relative;
}

/* timeline dot  */
.timelineTitle::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -37px;
  border: 3px solid #902923;
}

/* option 2 page competences */
.nav-tabs>.nav-link {
  border: #fff solid 2px;
  border-bottom: none;
  border-radius: 0;
  color: #fff;
  background-color: #212322;
}

.competencesNav .nav-link.active {
  background: #fff;
  color: #0A100D;
}

.competencesNav.tab-content {
  border: #fff solid 2px;
}

/* pris sur https://8biticon.com/minting-guide */
@media screen and (min-width:768px) {
  .tabBorder {
    position: relative;
  }

  .tabBorder::before {
    content: "";
    display: block;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    height: calc(100% + 54px);
    width: 12px;
    right: -12px;
    bottom: -31px;
    transform: skewY(40deg);
  }

  .tabBorder::after {
    content: "";
    display: block;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    width: calc(100% + 3px);
    height: 12px;
    right: -6px;
    bottom: -38px;
    transform: skewX(40deg);
  }
}











/* PAGE DERNIERS PROJETS */

#portfolio {
  background: #212322;
}

.portfolioCard {
  border-radius: 0px;
  background: #0A100D;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border: #fff 3px solid;
}

.portfolioCard img {
border-radius: 0px;
  }

.badge {
  background-color: #902923;
}










/* PAGE DE CONTACT */

#message {
  height: 150px;
}











/* FOOTER */

/* pris de https://csshint.com/bootstrap-horizontal-line-examples/ */
.hr-theme-slash-2 {
  display: flex;
}

.hr-line {
  width: 100%;
  position: relative;
  border-bottom: 3px solid #fff;
}

.hr-icon {
  position: relative;
  top: 16px;
}